<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <a th:href="@{/empleado/new}">Nuevo Empleado</a>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>CUIL</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.id}"></td>
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.CUIL}"></td>
				<td th:text="${empleado.estado} ? 'Sí' : 'No' "></td>
                <td>
                    <a th:href="@{/empleado/} + ${empleado.id}">Editar</a> |
                    <a th:href="@{/empleado/by_nombre/} + ${empleado.nombre}">Detalle</a> |
                    <form th:action="@{/empleado/delete/} + ${empleado.id}" method="post" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>